h1 {
    display: flex;
    justify-content: center;
}

table {
    display: flex;
    justify-content: center;
}

.color1 {
    background-color: blue;
    border: 1px solid black;
}

.color2 {
    background-color: green;
    border: 1px solid black;
}

tr,
td {
    height: 50px;
    width: 50px;
    display: inline-block;
}